*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    color: white
}
.main{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.left-card{
    background: url(assests/halie-west-25xggax4bSA-unsplash\ .jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    display: flex;
    width: 40vw;
    /* this is a problem*/
}

.logo-header{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    top: 12rem;
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-header h1{
    align-self: center;
    font-size: 3em;
}

#logo{
    margin: 4px;
    padding: 4px;
    height: 15vh;
}

.right-card{
    display: flex;
    flex:1;
    flex-direction: column;
    position: relative;
    top: 8vh;
    width: 60vw;
    height: 90vh;
    margin-left: 3em;
    margin-right: 20px;
    font-size: 1.6rem;
}

form{
    width: 80%;
    position: relative;
    box-sizing: border-box;
}

.inf{
    font-weight: bold;
}

p:nth-child(3){
    margin: 32px 0;
}

.row{
    margin: 20px 0;
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.row input[type="text"],
.row input[type="email"],
.row input[type="tel"],
.row input[type="password"]{
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    width: 20vw;
    padding: 7px;
    display: block;
    font-size: 14px;
}

input[type="email"]:invalid {
    border: 2px solid red;
}


.form-in{
    flex:1;
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    box-shadow: 0 4px lightgray;
    margin-bottom: 4px;
}

.btn{
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7em;
    margin-top: 20px;
}

button{
  flex: 1;
  padding: 5px;
  font: bold 1em sans-serif;
  background-color: #596D48;
  border-radius: 5px;
  color:white;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 16px 48px;
}

a{
    color:#596D48;
    font-weight: 800;
}

.row input:focus{
    outline-style: none; box-shadow: none; border-color: transparent;
    border: 1px solid blue;
}
