*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.left-card{
    background: url(assests/halie-west-25xggax4bSA-unsplash.jpg);
    background-origin: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 40vw;
    height: 100vh;
}

.logo-header{
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 100px
}

.main{
    display: flex;
}