*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    color: white
}
.main{
    display: flex;
}

.left-card{
    background: url(assests/halie-west-25xggax4bSA-unsplash.jpg);
    background-origin: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    width: 40vw;
    height: 100vh;
}

.logo-header{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    top: 12rem;
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-header h1{
    align-self: center;
    font-size: 3em;
}

#logo{
    margin: 4px;
    padding: 4px;
    height: 15vh;
}

.right-card{
    display: flex;
    flex-direction: column;
}
